<%-include ../partials/header.ejs%>
    
    <%-include ../partials/main_nav.ejs%>

    <main class="container">
        <div class = "row">
            <div class= "offset-nd-1 col-nd-10">
                
                    <h1><%=title%></h1>
            </div>
                    <a href ="/customer_list/add" class = "btn btn-primary" role="button">
                        <i class ="fas fa-plus-circle">Add a customer</i>
                    </a>
                    <br>
                    <table class ="table table-bordered table-striped table-hover">
                            <tr class="d-flex">
                                <th class ="text-center col-2">
                                  Name
                                </th>
                                <th class ="text-center col-2">
                                    Number
                                  </th>
                                  <th class ="text-center col-2">
                                    Email
                                  </th>
                                  <th class ="text-center col-2">
                                    Operations
                                  </th>
                                  
                                  
                            </tr>
                            <% for ( let count =0 ; count< customerlist.length; count ++) {%>
                                <tr class ="d-flex">
                                    <td class ="text-center col-2"><%-customerlist[count].Name%></td>
                                    <td class ="text-center col-2"><%-customerlist[count].Number%></td>
                                    <td class ="text-center col-2"><%-customerlist[count].Email%></td>
                                    <td class ="text-center col-1">
                                        <a href ="/customer_list/edit/<%-customerlist[count]._id%>" class="btn btn-primary ">
                                        <i class ="fas fa-pencil-alt"></i>Edit</a></td>

                                        <td class ="text-center col-1">
                                            <a href ="/customer_list/delete/<%-customerlist[count]._id%>" class="btn btn-danger ">
                                            <i class ="fas fa-trash-alt"></i>Delete</a></td>
    

                                        
                                    
                                </tr>
                                <% } %>
                    </table>
                </h1>
            </div>

        </div>
    </main>
   
    
    